:root {
  --bg1: darkslateblue;
  --clr-bg: darkorchid;
  --clr-bg-section: darkmagenta;
  --clr-text: aliceblue;
  --clr-btn-hover: deeppink;
  --clr-loc-name: gold;
  --clr-time: goldenrod;
  --gray: lightgray;
  --clr-btn: black;
}
