:root {
  --bg1: darkslateblue;
  --clr-bg: darkorchid;
  --clr-bg-section: darkmagenta;
  --clr-text: aliceblue;
  --color2: deeppink;
  --clr-loc-name: gold;
  --clr-time: goldenrod;
  --gray: lightgray;
}
